extends layout

block content
  h1 Hello #{name}
  p Welcome to IIIT Surat
  h2 Upcoming Activities
  ul
    li(style="font-size : 18px") Club Orientation (12-March 3:00pm)
    li(style="font-size : 18px") Plantation drive (17 March)
