extends layout

block content
  h2.page-header Register
  if errors
    p.alert.alert-danger= errors
  p Please register using the below form
  form(method='post' action='/users/register' enctype='multipart/form-data')
    .form-group
      label Roll-No
      input.form-control(name='rollno' type='text' placeholder='Enter your roll no(eg UI18CO05)')
    .form-group
      label Name
      input.form-control(name='name' type='text' placeholder='Enter your full name')
    .form-group
      label Email
      input.form-control(name='email' id='email' type='email' placeholder='Enter your mail-id')
    .form-group
      label Password
      input.form-control(name='password' type='password' placeholder='Enter your password(atleast 5 characters)')
    .form-group
      label Confirm Password
      input.form-control(name='password2' type='password' placeholder='Re-enter your password')
    .form-group
      label Profile Image
      input.form-control(name='profileimage' type='file')
    input.btn.btn-primary(type='submit' name='submit' value='Register')
